{% extends 'base.html' %}

{% block title %}Мой заголовок страницы{% endblock %}

{% block content %}
    <h1>Товары для рыбалки, туризма и активного отдыха</h1>
    <p>Собрались с друзьями на рыбалку или на природу? Тогда не забудьте заглянуть в магазин товаров для рыбалки и активного отдыха Рыбалка 24.RU. Мы собрали в своем каталоге высококачественную экипировку и оборудование для любителей активного отдыха.</p>
    <hr>
        <h2>Как выбрать оборудование и экипировку?</h2>
        <p>Всего несколько десятилетий назад, чтобы организовать рыбалку или турпоход, достаточно было прихватить удочку и припасы. Сейчас же товары для туризма, отдыха и рыбалки представлены в таком ассортименте, что любая вылазка на природу превращается в комфортабельное путешествие. Правильно подобранное оборудование и экипировка – залог того, что вы вернетесь домой с хорошим уловом и отличным настроением.</p>
        <p>Интернет-магазин рыболовных товаров Рыбалка 24.RU предоставляет возможность купить все необходимое одним кликом. Удобно расположившись в своем кресле, вы сможете выбрать товары для активного отдыха по таким параметрам, как:</p>
        <p>Назначение</p>
        <p>Бренд</p>
        <p>Цена</p>
    <p>При необходимости вы можете изучить товары для активного отдыха в наших гипермаркетах в Москве и регионах РФ. Здесь уже можно сделать выбор, ориентируясь на внешний вид и характеристики оборудования.</p>
    </hr>

    <hr>
      
    </hr>



{% endblock %}